<html>
  <head>
    <title>Vue Files</title>
    <script src="https://cdn.markamations.com/vue"></script>
    <script src="https://cdn.markamations.com/jquery"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <input type="text" id="loc" v-bind:value="dir" style="width:500px;" /><input type="button" v-on:click="changePath" value="Go" /><br />
      <folder v-for="folder in folders" v-bind:folder="folder"></folder>
      <file v-for="file in files" v-bind:file="file"></file>
    </div>
    <script src="app.js"></script>
  </body>
</html>
