.file{
  //border:2px solid black;
  text-align: center;
}

.folder{
  //border:2px solid blue;
  cursor: pointer;
  text-align: center;
}

.item-container{
  width: 150px;
  height: 150px;
  margin: 5px;
  float:left;
  display: inline-block;
  border-radius:10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

input[type="text"], input[type="button"]{
  padding:5px;
  margin-bottom: 5px;
  font-family: sans-serif;
}

input[type="button"]{
  margin-left:0px;
}
